{% extends "base.html" %}
{% block sidebar-right %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'login' %}">Sign in</a></li>
</ul>
{% endblock %}
{% block content %}
<form class="form-signup" method="post" action="{% url 'register' %}">
  <h2 class="form-signup-heading">Please sign up</h2>
  {% for field in form.visible_fields %}
    {{ field }}
  {% endfor %}
  {% csrf_token %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
<div class="Link">
  <a href="{% url 'login' %}" class="btn btn-link">Already have an account? Sign in here</a>
</div>
{% endblock %}
